<!--nevigation bar-->
    <style>      
    .start-nev {
        background-color: lightskyblue;
        font-size: small;
        height:30px;
    }
    .start-nev > li {
        margin-top: -20px;
    }
        ul 
        {
            list-style-type: none;
            margin: 0;
            padding: 8px;
            overflow: hidden;
            background-color: white;
        }

li {
  float: right;
}

li a {
  display: block;
  color: rgb(8, 8, 8);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

    .logo_style{
        height: 10%;
        width: 10%;
    }
    </style>



<section>
        <!--nevigation bar-->
        <div class="container-fiuid">
            <div>
                <ul class="start-nev">
                    <li><a href="./dashboard">Client Area</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <ul>      
                <a href="/"><img class="logo_style" src="images/web-hosting-logo.png" alt="canadian_web_hosting logo"></a>     
                <li><a href="./sign_in">Account</a></li>
                <li><a href="./plans" style="color: red;">Hot Deals</a></li>
                <li><a href="#">Security & SSL</a></li> 
                <li><a href="#">Online Marketing</a></li>
                <li><a href="#">Email</a></li>
                <li><a href="#">Websites</a></li>
                <li><a href="#">Domain Names</a></li>
                <li><a href="#">Hosting & Servers</a></li>                                                                                              
                
            </ul>
              <br>
              <br>
        </div>              
    </section>