<!--nevigation bar-->
    <style>      
        .start-nev {
            background-color: lightskyblue;
            font-size: small;
            height:30px;
        }
        .start-nev > li {
            margin-top: -20px;
        }
        ul 
        {
            list-style-type: none;
            margin: 0;
            padding: 8px;
            overflow: hidden;
            background-color: white;
        }

        li {
            float: right;
        }

        li a {
            display: block;
            color: rgb(8, 8, 8);
            text-align: center;
            padding: 16px 16px;
            text-decoration: none;
        }

    .logo_style{
            height: 10%;
            width: 10%;
    }
    </style>

    <!--Second nevigation bar-->
    <style>
        .start-sec {
            background-color: rgb(167, 47, 127);
            font-size: small;
            height:30px;
        }
        .start-sec > li {
            float: left;
            margin-top: -20px;
            display: inline;
        }
        
    </style>

    
    </style>


    <section>
        <!--nevigation bar-->
        <div class="container-fiuid">
            <div>
                <ul class="start-nev">
                    <li><a href="#">Client Area</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <ul>      
                <a href="/"><img class="logo_style" src="../../images/web-hosting-logo.png" alt="canadian_web_hosting logo"></a>     
                <a href="#" style="color: black; font-size: large;">Client Area</a>
                <li><a href="#">24/7 Support 1-515-565-6767</a></li>                                                                                    
                <li><a href="/logout">Logout</a></li>
            </ul>
              <br>
              <br>
        </div>              
    </section>

    <!--Second nevigation bar-->

    <section>
        <div class="container-fiuid">
        
            <ul class="start-sec">     
                
                <li><a href="#">My services</a></li> 
                <li><a href="#">Domains</a></li>
                <li><a href="#">Biling</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Affiliates</a></li>                                                                                              
                 
            </ul>
              <br>
              <br>
        </div>             
    </section>