<!--Footer section-->
    <style>
        

        .foot2 > div > div > div > p {
            margin-bottom: -5px;
            color: whitesmoke;
        }

        .foot2 {
            background-color: #33354F;
            color: white;
            padding: 40px 40px 20px 40px;
        }

        .fa {
  padding-top: 5px;
  padding-right: 35px;
  padding-bottom: 35px;
  padding-left: 10px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
    </style>


    <!--footer section-->

    <div class="foot2">
        <div class="container-fiuid">
            <div class="row text-center">    
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <h4>Hoasting & Servers</h4>
                    <p>Canadian Web Hoasting</p>
                    <p>Canadian Cloud Servers</p>
                    <p>Reseller Web Hoasting</p>
                    <p>Dedicated Servers</p>
                    <p>Managed Wordpress</p>
                    <p>Anycast DNS</p>
                    <p>Free website Migration</p>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <h4>Domains & Websites</h4>
                    <p>Domain Name Search</p>
                    <p>Domain Name Transfer</p>
                    <p>Weebly Site Builder</p>                        
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <h4>Security & SSL</h4>
                    <p>SSL Certificates</p>
                    <p>SiteSafe Protection</p>
                    <p>Enterprise Anti-Spam</p>
                    <p>Domain Privacy Protection</p>                    
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <h4>Online Marketing</h4>
                    <p>Search Engine Optimization</p>
                    <p>Email Marketing</p>
                    <p>Affiliate Program</p>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <h4>Company</h4>
                    <p>Blog & News</p>
                    <p>About WHC</p>
                    <p>WHC Reviewssting</p>
                    <p>Green Web Hosting</p>
                    <p>Contact us</p>
                    <p>Careers</p>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <h4>Support</h4>
                    <p>Help Center</p>
                    <p>Open Support Ticket</p>
                    <p>Check System Status</p>
                </div>    
                
            </div>
            <br>
            <hr>
        
            <div class="row">
                <div>
                    <h5>FOLLOW US</h5>
                </div>
                <div>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
                
            </div>
        </div>
    </div>
