<!DOCTYPE html>
<html>
<head>

   

    <!--Search section-->
    <style>
        form.search input[type=text] {
  padding: 8px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 10%;
  padding: 8px;
  background: #1488e7;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
    </style>

    <!--content section-->
    <style>
        .conImg{
            width: 100px;
            height: 100px;
        }
        .conButt {
            background-color: #097ffa;
            color: white;
        }
        .conButt:hover {
            opacity: 0.7;
        }
    </style>

    
    


</head>

<body>
   
    

    <section>
         <!-- search Section-->
         <div class="container">
             <div class="row">
                <form class="search col-12">       
                    <input type="text" placeholder="Find your perfect domain" name="search">
                    <button type="submit"><i>Search</i></button>
                    <span><img src="images/search(L1).jpeg" alt="Search section image 1">C$9.99</span>
                    <span><img src="images/search(L2).jpeg" alt="Search section image 2">C$11.99</span>
                    <span><img src="images/search(L3).jpeg" alt="Search section image 3">C$14.99</span>                                                           
                    <br>
                    <br>
                    <br>
        
              </form>
             </div>
         </div>
      
    </section>

    <!--Hero section-->
    <section>
        <div class="container-fiuid">
            <img  src="images/advertise(webhosting).jpg" alt="Advertisement IMG" style="width:100%;">

        </div>
        <br><br><br><br>
    </section>

    <!--Content section-->
    <section>
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <img class="conImg" src="images/content(1).jpg" alt="Web hosting logo">
                    <h2>Web Hosting</h2>
                    <h5>Get fast and unlimited Web hosting for your site</h5>
                    <button class="conButt" type="submit"><i>Get Hosting</i></button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <img class="conImg" src="images/content(2).jpg" alt="Web hosting logo">
                    <h2>Cloud Servers</h2>
                    <h5>Take full control with our fastest virtual servers</h5>
                    <button class="conButt" type="submit"><i>Compare Clouds</i></button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <img class="conImg" src="images/content(3).jpg" alt="Web hosting logo">
                    <h2>Dedicated Srvers</h2>
                    <h5>Boost your business with dedicated hardware</h5>
                    <button class="conButt" type="submit"><i>View Servers</i></button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <img class="conImg" src="images/content(4).jpg" alt="Web hosting logo">
                    <h2>Wordpress</h2>
                    <h5>Manage your WordPress websites easily</h5>
                    <button class="conButt" type="submit"><i>Get Wordpress</i></button>
                </div>

            </div>

        </div>
        <br><br><br><br>
    </section>

    
   
     

</body>

</html>